body {
  background-color: #5e5858;
}

.slider {
  width: 80%;
  min-width: 220px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.slider__window {
  width: 100%;
  height: calc(80vw * 0.5);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.slider__items {
  position: relative;
  left: 0;
  display: flex;
  height: 100%;
  width: 500%;
  transition: left 0.5s ease-in;
}

.slider__item {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item_1 {
  background-image: url("/cssMemSlider/cssMemSlider/assets/img/3.jpg");
}
.item_2 {
  background-image: url("/cssMemSlider/cssMemSlider/assets/img/1.jpg");
}
.item_3 {
  background-image: url("/cssMemSlider/cssMemSlider/assets/img/2.jpg");
}
.item_4 {
  background-image: url("/cssMemSlider/cssMemSlider/assets/img/5.jpg");
}
.item_5 {
  background-image: url("/cssMemSlider/cssMemSlider/assets/img/4.jpg");
}

.slider__description {
  display: flex;
  align-items: center;
  color: aliceblue;
  max-width: calc(100% - 220px);
  font-size: 22px;
  transition: opacity 0.5s ease-in;
}

.slider__description_hidden {
  opacity: 0;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.slider__bullet {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.slider__button_current > .slider__button {
  background-color: black;
}

.slider__bullet:hover > .slider__button {
  transform: scale(1.2);
}

.slider__bullet:active > .slider__button {
  border-color: red;
}

.slider__button {
  width: 50%;
  height: 50%;
  background-color: aliceblue;
  border-radius: 50%;
  border: 2px solid transparent;
}

@media (max-width: 768px) {
  .slider__description {
    max-width: calc(100% - 170px);
    font-size: 18px;
  }

  .slider__bullet {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 420px) {
  .slider {
    flex-direction: column;
  }
  .slider__description {
    order: 1;
    max-width: 100%;
  }
  .slider__controls {
    margin: 0 auto;
  }
  .slider__bullet {
    width: 20px;
    height: 20px;
  }
}
